<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Welcome Files-->
    <welcome-file-list>
        <welcome-file>LoadQuestion</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoadQuestion</servlet-name>
        <servlet-class>com.csci5520.mcqueen.LoadQuestion</servlet-class>
        <init-param>
            <param-name>CHAPTER_NO</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>QUESTION_NO</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>QuestionChooser</servlet-name>
        <servlet-class>com.csci5520.mcqueen.QuestionChooser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionForm</servlet-name>
        <servlet-class>com.csci5520.mcqueen.QuestionForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadQuestion</servlet-name>
        <url-pattern>/LoadQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionChooser</servlet-name>
        <url-pattern>/QuestionChooser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionForm</servlet-name>
        <url-pattern>/QuestionForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
